<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${PID} %d{HH:mm:ss.SSS} [%thread] %-5level %logger{96} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="com.cat" level="DEBUG"/>
  <logger name="com" level="WARN"/>
  <logger name="org" level="WARN"/>

</configuration>